# Dependencies
node_modules/

# Next.js build and cache outputs
.next/
out/
build/

# Debugging and environment logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local

# OS system files
.DS_Store
Thumbs.db